:root {
  --purple-light: hsl(254, 88%, 90%);
  --purple: hsl(256, 67%, 59%);
  --yellow-light: hsl(31, 66%, 93%);
  --yellow: hsl(39, 100%, 71%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 7%);
}

* {
  box-sizing: border-box;
}

html { font-size: 22px; }
body { 
  padding: 20px 10px; 
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:100vw;
  height: auto;

  background-color: rgb(223, 223, 214);
}

.dm-sans-regular {
  font-family: "DMSans";
  font-weight: 400;
  font-style: normal;
}

.dm-sans-semibold {
  font-family: "Poppins", serif;
  font-weight: 500;
  font-style: normal;
}

p {
  font-size: 18px;
}

.card {
  background-color: var(--white);
  color: white;
  padding: 1rem;
  border-radius: 10px;
}

.cards {
  /* max-width: 1200px; */
  display: flex;
  flex-direction: column;
  width: 90vw;
  /* margin: 0 auto; */
  gap: 1rem;
  
}

.one {
  grid-area: one;
  background-color: var(--purple);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.one img {
  height: 100%;
  width: 100%;
}

h2 {
  font-size: 2.5em;
}

.one span {
  color: var(--yellow);
}
.two {
  grid-area: two;
  color: var(--black);
}

.two img {
  height: 100%;
  width: 100%;
}

.two h4 {
  font-size: 2em;
  margin: 0 auto;
}

.three {
  grid-area: three;
  background-color: var(--yellow);
  color: var(--black);
  padding-bottom: 0;
}

.three img {
  height: 100%;
  width: 70%;
  overflow: hidden;
}

.three h3 {
  font-size: 2em;
  margin: 10px auto;
}

.four {
  grid-area: four;
  background-color: var(--purple-light);
  color: var(--black);
}

.four img {
  height: 100%;
  width: 100%;
}

.four h4 {
  font-size: 2em;
  margin: 30px auto;
}

.four p {
  font-size: 1.5em;
  text-align: center;
}

.five {
  grid-area: five;
  background-color: var(--purple);
  color: var(--white);
  /* below only for mobile view */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.five img {
  height: 60%;
  width: 70%;
}

.five h3 {
  font-size: 2em;
  text-align: center;
  margin: 20px auto 10px auto;
  width: 60%;
}


.six {
  grid-area: six;
  color: var(--black);
}

.six img {
  width: 55%;
}

.six h2 {
  font-size: 3.5em;
  margin: 20px auto 10px auto; 
}

.six p {
  font-size: 1.5em;
}


.seven {
  grid-area: seven;
  background-color: var(--yellow-light);
  color: var(--black);
}

.seven h3 {
  font-size: 2.5em;
  margin: 10px 0;
}

.seven span {
  color: var(--purple);
  font-style: italic;
}

.seven img {
  width: 65%;
  margin: 10px auto;
}

.eight {
  grid-area: eight;
  background-color: var(--yellow);
  color: var(--black);
}

.eight h3 {
  font-size: 2.5em;
  margin: 20px auto;
}

.eight img {
  width: 80%;
}

@media (min-width: 600px) {
  .cards { 
    /* grid-template-columns: repeat(4, 1fr);  */
    padding: 70px 140px; 
    margin: 0;
    width:100vw;
    height: 100vh;
    display: grid;
    grid-template-areas: 
    'seven one one four'
    'seven two three four'
    'eight two three four'
    'eight six five five';
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 3fr 0.5fr 1.5fr 2fr ; 
  }
  .card {
    justify-self: stretch;
    align-self: stretch;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .five {
    display: flex;
    flex-direction: row;
  }
}
